<div class="container">
    <h3>Nombre:</h3>
    <p><%= @perfil.name %></p>
    <h3>Email:</h3>
    <p><%= @perfil.email %></p>
    <h3>Telefono:</h3>
    <p><%= @perfil.phone %></p>
    <h3>Dirección:</h3>
    <p><%= @perfil.address %></p>
    <%= link_to "Editar", edit_user_registration_path(@perfil), class:'btn btn-info float-right' %>
</div>
