
<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
  <div class="container">
    <a class="navbar-brand js-scroll-trigger" href="#page-top">BeerStock</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      Menu
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav text-uppercase ml-auto">
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="<%= root_path%>">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="<%= products_path%>">Productos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="<%= orders_path %>">Carro de compras</a>
        </li>
        <li class="nav-item dropdown" id="navbarDropdown">
          <a class="nav-link dropdown-toggle" href="#"  role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <% if user_signed_in? %>
              <%= current_user.name %>
            <% else %>
             Ingresar
             <% end%>
          </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <% if user_signed_in? %>
                <a class="dropdown-item" href="<%= destroy_user_session_path %>" data-method="delete">Salir</a>
            <% else %>
                <a class="dropdown-item" href="<%= new_user_session_path %>">Ingresar</a>
                <a class="dropdown-item" href="<%= new_user_registration_path %>">Regristrar</a>
                <div class="dropdown-divider"></div>
              <% end %>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
